/*

  Author: Matthew Thomson
  Style: Grid Modules

  Aligns modules in a grid. Useful on large displays to reduce negative space.

  URL Regex: https://[YOUR URL HERE]/courses/.+/modules.*

  Version: 0.0.1

*/

#context_modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.context_module {
    flex-grow: 1
}
#wrapper {
    max-width: 100%
}
